/* THIS IS REQUIRED! DO NOT REMOVE!*/
.randombs{}

.root{
    -fx-font-size: 0px;
    -fx-font-family: "Helvetica";
    -fx-text-fill: white;
}

/* === BARS === */
.tool-bar{
    -fx-background-color: #3A4092;
}

.main-tool-bar{
    -fx-background-color: linear-gradient(to right, #545AA7, #ABAFDF);
}

/* === PANES === */
.pane-top{
    -fx-background-color: #3A4092;
}

.pane-mid {
    -fx-background-color: linear-gradient(to right, #545AA7, #ABAFDF);
}

/* === MENUS === */

.menu-bar {
    -fx-background-color: linear-gradient(to right, #545AA7, #ABAFDF);;
}

.menu
{
    -fx-pref-width: 60px;
}

.menu:hover,
.menu:showing,
.menu-item:focused {
    -fx-background-color: none;
}


.menu .label
{
    -fx-text-fill: white;
}

.menu-item .label {
    -fx-text-fill: white;
}

.menu-item:focused {
     -fx-background-color: F1CC66;
}

.menu-item:focused .label {
    -fx-text-fill: white;
}

.context-menu {
    -fx-background-color: #545AA7;
    -fx-padding: 0 0 0 0;
}

/* === LIST VIEW === */

.list-view{
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: linear-gradient(#FFE291, #F1CC66);
    -fx-text-fill: white;
}

.list-cell:even { /* <=== changed to even */
    -fx-background-color: white;
}

.list-cell:filled:hover {
    -fx-background-color: #FFEDBB;
    -fx-text-fill: white;
}

/* === TABLE VIEW === */

.table-view{
    -fx-background-color: white;
}

.table-view .filler{
    -fx-background-color: linear-gradient(#545AA7, #ABAFDF);
}
.table-view:focused{
    -fx-background-color: white;
}

.table-view .column-header{
    -fx-background-color: linear-gradient(#545AA7, #ABAFDF);
}

.table-view .column-header .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-row-cell:even{
    -fx-background-color: white;
}

.table-row-cell:filled:selected:focused {
    -fx-background-color: linear-gradient(#FFE291, #F1CC66);
    -fx-text-fill: white;
}

.table-row-cell:filled:hover{
    -fx-background-color: #FFEDBB;
    -fx-text-fill: white;
}

/* === TEXT === */

.label-title {
   -fx-font-size: 32px;
   -fx-font-family: "Helvetica";
   -fx-text-fill: white;
   -fx-background-color: none;
}

.label-white {
   -fx-font-size: 12px;
   -fx-font-family: "Helvetica";
   -fx-text-fill: white;
   -fx-background-color: none;
}

/* === BUTTONS === */

.button-manager{
   -fx-background-color: linear-gradient(#545AA7, #ABAFDF);
   -fx-pref-width: 125px;
   -fx-text-fill: white;
   -fx-effect: dropshadow(three-pass-box, #242A79, 5, 0, 0, 2);

   /*
   -fx-border-color: white;
   -fx-border-insets: 0;
   -fx-border-width: 1 1 1 1;
   */

}

.button-manager:hover{
    -fx-background-color: #F1CC66;
}

.button-utility{
   -fx-background-color: linear-gradient(#545AA7, #ABAFDF);
   -fx-pref-width: 125px;
   -fx-text-fill: white;
   -fx-effect: dropshadow(three-pass-box, #242A79, 5, 0, 0, 2);

    /*
   -fx-border-color: white;
   -fx-border-insets: 0;
   -fx-border-width: 1 1 1 1;
   */
}

.button-utility .label{
    -fx-text-fill: white;
}

.button-utility:hover{
    -fx-background-color: #F1CC66;
}

.button-signIn{
    -fx-background-color: #545AA7;
    -fx-pref-width: 125px;
    -fx-text-fill: white;
}

.button-signIn:hover{
    -fx-background-color: #F1CC66;
}

.button-signOut{
    -fx-background-color: none;
    -fx-text-fill: white;
}

.button-signOut:hover{
    -fx-text-fill: #F1CC66;
}


/* === DIALOG === */

#dialog-window{
    -fx-background-color: #545AA7;
}

#dialog-window .label {
    -fx-text-fill: white;
}

#testing{
   -fx-border-color: black;
   -fx-border-insets: 0;
   -fx-border-width: 2 2 2 2;
}