/* THIS IS REQUIRED! DO NOT REMOVE!*/
.randombs{}

.root{
    -fx-font-size: 0px;
    -fx-font-family: "Helvetica";
}

/* === BARS === */
#button-bar{
    -fx-background-color: #452F74;   
}

/* === PANES === */

#topPane
{
    -fx-background-color: #452F74;
}

#titlePane {
    -fx-background-color: #655091;
}

.label-title {
   -fx-font-size: 32px;
   -fx-font-family: "Helvetica";
   -fx-text-fill: white;
   -fx-background-color: none;
}

.pane-top{
    -fx-background-color: #452F74;
}

.pane-mid {
    -fx-background-color: #655091;
}

/* === MENUS === */

.menu-bar {
    -fx-background-color: #655091;
}

.menu
{
    -fx-pref-width: 60px;
    /*
    -fx-border-color: white;
    -fx-border-insets: 0;
    -fx-border-width: 0 2 0 2;
    */
}

.menu:hover,
.menu:showing,
.menu-item:focused {
    -fx-background-color: none;
}


.menu .label
{
    -fx-text-fill: white;
}

.menu-item .label {
    -fx-text-fill: white;
}

.menu-item:focused {
     -fx-background-color: white;
}

.menu-item:focused .label {
    -fx-text-fill: #655091;
}

.context-menu {
    -fx-background-color: #8B7AAE;
    -fx-padding: 0 0 0 0;
}

/* === TEXT === */

.label-title {
   -fx-font-size: 32px;
   -fx-font-family: "Helvetica";
   -fx-text-fill: white;
   -fx-background-color: none;
}

.label-white {
   -fx-font-size: 16px;
   -fx-font-family: "Helvetica";
   -fx-text-fill: white;
   -fx-background-color: none;
}

/* === BUTTONS === */

#cool-button{
   -fx-background-color: none;

   -fx-text-fill: white;
   -fx-pref-width: 125px;
   -fx-border-color: white;
   -fx-border-insets: 0;
   -fx-border-width: 0 2 0 2;
}
